* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffcead;
}
a {
    text-decoration: none;
    color: black;
}

.background {
    position: fixed;
    width: 1024px;
    height: 600px;
    /* height: 100vh; */
    overflow: hidden;
    background-image: url("../image/background.png");
}

.outerbox {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 808px;
    height: 544px;
    background-image: url("../image/outerbox.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    left: 26px;
    top: 24px;
    
    width: 756px;
    height: 496px;
    right: 26px;
    bottom: 24px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    /* overflow: hidden; */
    /* background-color: aquamarine; */
}

.wrapper__left {
    width: 214px;
    height: 100%;
    margin-left: 6px;

    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    /* background-color: rebeccapurple; */
}

.wrapper__left__header {
    position: relative;
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;
    background-color: aqua; */
}

.wrapper__left__header>div {
    position: absolute;
    top: 26px;
    font-size: 9px;
    letter-spacing: 1px;
    color: #000;
}

.wrapper__left__header>div>span{
    font-size: 11px;
}
.wrapper__left__header>div>span.zero {
    letter-spacing: 0;
    color: #FF0000;
}

.wrapper__left__body {
    width: 208px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    border: 1px solid #000;
    border-radius: 10px;
    background: white;
}

.left__body__header {
    width: 100%;
    height: 165px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left__body__header__gray {
    width: 148px;
    height: 133px;
    box-shadow: 1px 1px 5px #000;
    background-image: url("https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201706/23/b71449f8-e830-45a0-bb4d-7b1a328e19f2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.left__body__header__line {
    width: 100%;
    border-bottom: 1px dotted black;
}


.left__body__profile {
    width: 100%;
    height: 203px;
    /* background-color: #55b2d4; */
}

.left__body__profile>div {
    margin: 12px 0;
    display: flex;
    align-items: center;
    font-size: 9px;
}

.left__body__profile>div>ion-icon {
    width: 13px;
    height: 13px;
}

.left__body__profile>div>a {
    margin-left: 9px;
}

.left__body__footer {
    width: 100%;
    height: 72px;
}

.left__body__footer p {
    font-size: 11px;
    color: gray;
}

.left__body__footer select {
    margin-top: 8px;
    font-size: 11px;
}



.wrapper__right {
    width: 542px;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* background-color: cadetblue; */
}

.wrapper__right__header {
    padding-bottom: 8px;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* background: #c4c4c4; */
}

.right__header_left {
    font-size: 16px;
    font-weight: 700;
    padding-left: 36px;
    color: #55b2d4;
}

.right__header_right {
    padding-right: 26px;
    font-size: 13px;
    letter-spacing: -1px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    /* background-color: #fff; */
}

.right__header_right>ion-icon {
    padding-top: 2px;
    width: 13px;
    color: #FF6400;
}



.wrapper__right__body {
    position: relative;
    width: 524px;
    height: 440px;
    margin-left: 2px;

    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
}

.wrapper__right__body>iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;

    /* background-color: blanchedalmond; */
}


.out__menu {
    position: absolute;
    right: -68px;
    width: 70px;
    height: 100%;
    z-index: 10;
    transform: translateX(2px);
    /* background-color: #FF0000; */
}
.out__menu a {
    position: absolute;
    height: 35px;
    font-size: 12px;
    color: #fff;
    background-color: #298EB5;
    transition: 0.2s;
    border: 1px solid #000;
    border-left: none;
    border-radius: 0 10px 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.out__menu a.home{
    top: 10px;
    width: 100%;
}
.out__menu a.game{
    top: 50px;
    width: 100%;
}
.out__menu a.BGM{
    top: 90px;
    width: 100%;
}

.out__menu a.home:hover,
.out__menu a.game:hover,
.out__menu a.BGM:hover{
    background: #fff;
    color: #000;
    font-weight: 600;
}
